{{page-title "Zach Writes Code Home Page"}}
{{meta-description "This is the home page for Zach Writes Code"}}

{{#sidebar}}
{{mdfile "pages/sidebar.md"}}
{{/sidebar}}

{{#useLayout "layout/main.lyt"}}
<h1>404 Not Found</h1>
<p>The page you are looking for cannot be found, but that's ok, there is plenty of good content that can be found in the
    menu!</p>
{{/useLayout}}