* {
  box-sizing: border-box;
}

/* Consistent Scrollbars for all browsers and 
platforms (Makes windows scrollbars prettier) */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.175);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #262626;
  overflow: hidden;
  height: 100vh;
}

p {
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 1.5em;
}

#scroll-div {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  padding-bottom: 75vh;
  scroll-behavior: smooth;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  padding: 10px 0px 10px 0px;
}

header {
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 50px;
  text-align: center;
  background-color: #313131;
  color: white;
  z-index: 100;
  box-shadow: 0px 0px 10px 10px black;
}

header > dev > * {
  flex: 1;
}
header > div {
  margin: 0 auto;
  max-width: 200px;
  display: flex;
  align-items: center;
  max-height: 50px;
}

header img {
  max-width: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
}

.logo img {
  max-width: 200px;
  object-fit: cover;
}

.logo h1 {
  padding: 60px 0px;
  min-width: 300px;
  text-align: center;
}

.logo > * {
  flex: 1;
}

main > div.content {
  flex: 690px;
  transition: all 200ms;
  max-width: 690px;
  margin: 0 auto;
  background-color: #2c5a9a;
  padding: 20px;
  color: lightgray;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 4px 1px white;
  padding-bottom: 50vh;
  text-align: justify;
}

div.content a {
  color: white;
}

main > div.sidebar.inflow {
  transition: all 200ms;
  flex: 290px;
  max-width: 290px;
  height: calc(100vh - 100px);

  overflow-y: hidden;
}

div.sidebar.inflow > div#sidebar {
  position: fixed;
  width: 290px;
  height: calc(100vh - 100px);
  background-color: #414141;
  border-radius: 10px;
  top: 60px;
  overflow-x: auto;
  transition: all 200ms;
  box-shadow: 0px 0px 4px 1px white;
  padding-bottom: 50vh;
}

div.sidebar.inflow > div#sidebar.mobile {
  right: -400px;
}

div.sidebar.inflow > div#sidebar.mobile.open {
  right: 10px;
}

#sidebar ul {
  list-style: none;
  padding-left: 0px;
}

#sidebar h4,
#sidebar h5,
#sidebar h6 {
  margin: 0px;
  padding: 0px;
}

#sidebar h4 > a {
  padding-left: 20px;
}
#sidebar h5 > a {
  padding-left: 40px;
}
#sidebar h6 > a {
  padding-left: 60px;
}

#sidebar a:hover {
  background-color: lightgray;
  color: black;
}

#sidebar a {
  text-decoration: none;
  color: white;
  transition: all 300ms;
  padding: 10px 0px 10px 0px;
  width: 100%;
  display: block;
}

@media only screen and (max-width: 1010px) {
  main > div.sidebar.inflow {
    max-width: 0px;
  }
  main > div.content {
    max-width: 750px;
  }
}

@media only screen and (max-width: 750px) {
  main > div.content {
    max-width: 100%;
  }
}

div.anchor {
  position: relative;
  top: -50px;
}

div.content img {
  margin: 10px auto;
  width: 90%;
  display: block;
}

main #mobile-sidebar-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 25px;
  right: 25px;
  background-color: white;
  border-radius: 50%;
  border: 0px;
  display: none;
  font-weight: bolder;
  transition: all 300ms;
  box-shadow: 1px 1px 20px -1px black;
}

main #mobile-sidebar-btn:hover {
  background-color: rgb(29, 29, 21);
  color: yellow;
}

@media only screen and (max-width: 1010px) {
  main #mobile-sidebar-btn {
    display: unset;
  }
}

.buy-me-coffee {
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 40px;
}

.buy-me-coffee > * {
  flex: 1;
  padding: 10px;
  min-width: 200px;
}

div.cards {
  flex-wrap: wrap;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

div.cards > * {
  transition: all 200ms;
  position: relative;
  flex: 1;
  padding: 0px;
  max-height: 250px;
  max-width: 250px;
  min-width: 250px;
  margin: 20px auto;
  min-height: 250px;
  border-radius: 10px;
  background-color: #ffffffa6;
  box-shadow: 0px 0px 10px 0px black;
  overflow: hidden;
}

div.cards > *:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 0px black;
}

div.cards img {
  object-fit: cover;
  height: 300px;
  margin: 0px;
  width: 100%;
  border-radius: 10px;
}

div.cards * > label {
  cursor: pointer;
  position: absolute;
  font-size: 2em;
  font-weight: bolder;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 55% 0px;
  text-align: center;
  background-color: #0000007d;
}

.card {
  border-radius: 20px;
  padding: 10px;
  background-color: #00000045;
}

.row {
  display: flex;
}

.row > * {
  flex: 1;
}
